<h1>Nova comunicação de perda</h1>

<label>Nome:</label>
<input type="text" [(ngModel)]="comm.name"> <br>
<label>E-mail:</label>
<input type="email" [(ngModel)]="comm.email"> <br>
<!--<div class="form-group">
  <label for ="email">Email</label>
    <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email"name="email" [(ngModel)]="comm.email" ngModel #emailref="ngModel">
    <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class ="alert alert-danger">
     <div [hidden]="!emailref.errors?.pattern">
       Invalid pattern
     </div>
    </div>
</div>-->
<label>CPF:</label>
<input type="text" [(ngModel)]="comm.cpf"> <br>
<label>Latitude:</label>
<input type="text" [(ngModel)]="comm.latitude"> <br>
<label>Longitude:</label>
<input type="text" [(ngModel)]="comm.longitude"> <br>

<label>Cultivo:</label>
<!--<select>
  <option *ngFor="let cultivation of cultivations">{{ cultivation.name }}</option>
</select>-->
<input type="text" [(ngModel)]="comm.cultivation"> <br>

<label>Evento ocorrido:</label>
<input type="text" [(ngModel)]="comm.event"> <br>
<label>Data da colheita:</label>
<input type="text" [(ngModel)]="comm.harvestDate"> <br>

<button (click)="save()">Save</button>
