<h1>New Crop Loss Communication</h1>

<label>Nome:</label>
<input type="text" [(ngModel)]="comm.name"> <br>
<label>E-mail:</label>
<input type="text" [(ngModel)]="comm.email"> <br>
<label>CPF:</label>
<input type="text" [(ngModel)]="comm.cpf"> <br>
<label>Latitude:</label>
<input type="text" [(ngModel)]="comm.latitude"> <br>
<label>Longitude:</label>
<input type="text" [(ngModel)]="comm.longitude"> <br>
<label>Cultivo:</label>
<input type="text" [(ngModel)]="comm.cultivation"> <br>
<label>Evento ocorrido:</label>
<input type="text" [(ngModel)]="comm.event"> <br>
<label>Data da colheita:</label>
<input type="text" [(ngModel)]="comm.harvestDate"> <br>

<button (click)="save()">Save</button>
