<h2>Detalhes da comunicação de perda:</h2>
<!--Comunicação selecionada: {{ selected_comm.name }} - {{ selected_comm.cpf }}
<p>Selected ID: {{ selected_id }}</p>-->

<!--<input type="text" [(ngModel)]="selected_comm.id"> <br>-->
<label>Nome:</label>
<input type="text" [(ngModel)]="selected_comm.name"> <br>
<label>E-mail:</label>
<input type="text" [(ngModel)]="selected_comm.email"> <br>
<label>CPF:</label>
<input type="text" [(ngModel)]="selected_comm.cpf"> <br>
<label>Latitude:</label>
<input type="text" [(ngModel)]="selected_comm.latitude"> <br>
<label>Longitude:</label>
<input type="text" [(ngModel)]="selected_comm.longitude"> <br>
<label>Cultivo:</label>
<input type="text" [(ngModel)]="selected_comm.cultivation"> <br>
<label>Evento ocorrido:</label>
<input type="text" [(ngModel)]="selected_comm.event"> <br>
<label>Data da colheita:</label>
<input type="text" [(ngModel)]="selected_comm.harvestDate"> <br>

<button (click)="updateCropLossCommunication()">Update Crop Loss Communication</button>

<button (click)="deleteCropLossCommunication()">Delete Crop Loss Communication</button>

<!--<button (click)="newCropLossCommunication()" class="button primary">New Crop Loss Communication</button>-->
